* {
  font-family: 'Nunito', sans-serif;
}

body {
    background-color: gainsboro;
}

h1 {
    color: white;
}

h3 {
    font-size: 12px;
}

ul {
    padding: 0px;
    display: inline;
}

li {
    list-style: none;
    display: inline;
}


li .imageContainer .posterImage {
    width: 395px;
    height: auto;
    margin-top: 25px;
    margin-left: 25px;
}

.results-body {
    overflow: hidden;

}

.results-body h1 {
    color: white;
    font-weight: 600;
    margin-left: 32px;
}

.title {
    color: white;
    font-weight: 400;
    margin-left: 30px;
}

.results-body-single-view {
    overflow: hidden;
}

.results-body-single-view .posterImage {
    width: 360px;
    height: auto;
}

.header .search-container {
    float: left;
    padding-left: 30px;
}

.form {
    display: flex;
    margin: 8px 0px;
}

.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    max-width: 380px;
    min-width: 380px;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin: 8px 0px 0px 5px;
    position: absolute;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.trending-table .posterImage {
    opacity: 1;
    width: 175px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 5px;

}

.trending-table tbody {
    display: inline;
    vertical-align: top;
}

.trending-table {
    padding-bottom: 12px;
    border-collapse: collapse;
    display: inline;
    margin-left: 20px;
}

.trending-table tr {
    display: inline;
}

.trending-table-td {
    text-align: left;
    color: white;
    font-weight:normal;
    margin: 0px;
    display: inline;
    vertical-align: top;
}

.box-office {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    margin-left: 145px;
    color: white;
    font-size: 16px;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 100;
    width: 30%;
    border-left: 1px solid rgba(255, 255, 255, 0.6);
}

.box-office table {
    border-collapse: collapse;
    width: 100%;
    padding-bottom: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    table-layout: fixed;
}

.box-office th {
    text-align: left;
    padding: 16px 6px 10px 0px;
    color: gray;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

.box-office td {
    text-align: left;
    padding: 0px 6px 10px 0px;
    color: white;
    font-weight:normal;
}


.description table {
    border-collapse: collapse;
    width: 100%;
    padding-bottom: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.description th {
    text-align: left;
    padding: 16px 6px 10px 0px;
    color: gray;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

.description td {
    text-align: left;
    padding: 0px 6px 10px 0px;
    color: white;
    font-weight:normal;
}

.imageContainer {
    display: inline;
    margin: 7px;
}

#m-genre-data {
    color: gray;
    font-weight: bold;
    padding-bottom: 2px;
}

#m-director-title, #m-summary-title, #m-actors-title, #m-box-office-title {
    color: gray;
    margin: 8px 6px 8px 0px;
    font-weight: bold;
}

#m-summary-data, #m-director-data, #m-actors-data, #m-box-office-data {
    color: white;
}

#m-title {
    color: white;
    font-size: 24px;
}

#m-rating-data {
    color: goldenrod;
    display: inline;
}

#imdb-star {
    width: 16px;
    height: auto;
}

.description .m-poster:hover {
    opacity: 0.5;
    border: 1px solid rgba(167, 66, 235, 0.7);
    cursor: pointer;
}

.description .m-poster {
    opacity: 1;
    width: 275px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 1px outset transparent;
    user-select: none;
}

.imageContainer .image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 2px solid rgba(167, 66, 235, 0.7);
    margin: 5px;
}

.description #m-summary-title {
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.box-office #m-summary-title {
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.imageContainer p {
    font-size: 18px;
    display: inline;
    color: white;
}

p {
    color: white;
}

.collapse-description {
    float: right;
    width: 10%;
    height: 100%;
    padding: 10px;
    position: inherit;
    top: 15px;
    left: 30px;
    display: none;
}

.description {
    font-size: 16px;
    display: block;
    float: right;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 100;
    width: 30%;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

image .posterImage .singleView:hover  {
    opacity: 1;
}

.description > p {
    color: rgba(255, 255, 255, 0.7);
}

.trending-table .posterImage:hover {
    opacity: 0.3;
    cursor: pointer;
}

.m-poster:hover .image {
    opacity: 0.3;
    transition: .5s ease;
    cursor: pointer;
}

.sidebar {
    background-color: #1a212b;
    float: left;
    margin: 5px 0px;
}

.sidebar a {
    display: block;
    color: #767a7f;
    text-align: left;
    margin-bottom: 5px;
    padding: 20px 5px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    margin-left: 30px;
}

.sidebar a:hover {
    color: white;
}

.sidebar a.active {
    color: white;
}

.header {
    overflow: hidden;
    background-color: #1a212b;
    min-height: 65px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header a {
    float: left;
    display: block;
    color: #767a7f;
    text-align: center;
    padding: 15px 29px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px;
}

.header a:hover {
    color: white;
}

.header a.active {
    color: white;
}

.header input[type=text] {
    font-size: 17px;
    border: none;
    padding-left: 35px;
    text-align: left;
}

.header input:hover {
    background: rgba(255, 255, 255, 0.7);
}

.header input:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.7);
}

.header input::placeholder {
    text-align: left;
}

@media screen and (max-width: 600px) {
    .header {
        float: none;
    }
    .header a, .header input[type=text], .header {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
    }
    .header input[type=text] {
        border: 1px solid #ccc;
    }
}
